{% extends 'article/basic.html' %}

{% load static %}

{% block css %}

body{

  background-image: url({%static 'tree.webp'%});
  background-repeat: no-repeat;
  background-size: cover;
  color:white
}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row my-5">

        <div class="col-md-4">
            <img src="/media/{{context.thumbnail}}" class="rounded-pill img-thumbnail" ></img>

            <div class="row align-middle px-5 ml-4">
                <a href="{% url 'likes' aid=context.id  action=1 %}" class="btn btn-primary my-5 mx-2"><i class="far fa-thumbs-up"></i></a>
                <span class="mt-5 pt-2 px-2" >{{context.like}}</span>
                <a href="{% url 'likes' aid=context.id  action=0 %}" class="btn btn-primary my-5 mx-2"><i class="far fa-thumbs-down"></i></a>
            </div>

        </div>

        <div class="col-md-8">
            <h1>{{context.title}}</h1>
            <h5>{{context.body}}</h2>
            <br>
            <h5> <strong>Author:</strong> {{context.author}}</h5>
        </div>
    </div>
</div>

{% endblock %}
